<template name="formPost">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Crear Pin</h3>
                </div>

                <div class="modal-body">
                    <form>
                        <input type='file' name='image' class='myFileInput'>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Listo</button>
                </div>
            </div>
        </div>
    </div>
</template>